@use '../variable';
@use '../color';
@use './main';
@use './header';
@use './body';
@use './footer';
@use '../header';

html,
body{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--background-color);
    
}