section{
    width: 100%;

    div{
        &.container{

        max-width: 90vw;
        margin: 0 auto;

        padding-right: var(--container-padding-right);
        padding-left: var(--container-padding-left);

        >div{
            height: 4rem;
            width: 100%;

            display: flex;
            align-items: center;
            }

    }
}

main.wrapper {
    max-width: 90vw;
    margin: 0 auto;
    padding-right: var(--container-padding-right);
    padding-left: var(--container-padding-left);

    > div{
        
        padding-block: 4rem;

        &.home{
            height: 100vh;

        }

        &.page{
        outline: solid 1px red;
        min-height: 700px;

        div{
           &.title{
            margin-top: 1.5rem;
            text-align: center;

            h2{
                margin: 0;
                margin-bottom: 0.5rem;
            }

            strong{
                color: var(--gray-color-500);
            }
        }


        }

    }

}
}
a{
                color: var(--text-color);
                text-decoration: inherit;

                &:hover{
                    color: #137fec;
                }
            }
        }