section{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    div{
        &.container{

        max-width: 90vw;
        margin: 0 auto;

        padding-right: var(--container-padding-right);
        padding-left: var(--container-padding-left);

        >div{
            height: 4rem;
            width: 100%;

            display: flex;
            justify-content: space-between;
            align-items: center;
            }

    }
    &.main{
        flex-grow: 1;
    }

}
}
a{
                color: var(--text-color);
                text-decoration: inherit;

                &:hover{
                    color: #137fec;
                }
            }